name: Build JS for Production

on:
    release:
        types: [ published ]
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: '22'

            - name: Install dependencies
              run: npm ci

            - name: Build for production
              run: npm run build

            - name: Upload artefact
              uses: nanoufo/action-upload-artifacts-and-release-assets@v2
              with:
                path: |
                    **/dist/GameOfLifeVisual.js
                if-no-files-found: warn
                upload-release-files: true
                release-upload-url: ${{ github.event.release.upload_url }}